
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<app-recipes></app-recipes>
<app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>

<!-- <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <ul>
      <li class="dropdown-item" href="#">Action</li>
      <li class="dropdown-item" href="#">Another action</li>
      <li class="dropdown-item" href="#">Something else here</li>
    </ul>

  </div>
</div> -->

